 
<div class="container-fluid" style="margin-top:10px" data-ng-controller="HomeController" data-ng-init="findUsers()">
  <!--First row: for newsfeed and eventslist -->
    <!-- Don't even try and load data without authentication -->
    <div class="row" data-ng-if="hasAuth" data-ng-init="findSkillsets()">
      <div class="col-sm-4">
        <div class="newsfeed">
            <a href="#!/posts"><u class="section-heading">News Feed</u></a>
            <section data-ng-controller="PostsController" data-ng-init="find()">
    <div class="list-group">
        <!-- <a data-ng-repeat="currUser in users | filter:  _id=authentication.user._id">
            CURRENT USER: <span data-ng-bind="currUser.firstName"></span>
        <span data-ng-repeat="userskill in skillsets | filter: _id=currUser.skills">
            CURRENT USER SKILLS:<span data-ng-bind="userskill.skill"></span> -->
        <a data-ng-repeat="post in posts | limitTo : 5 | filter: skill=userskill.skill" data-ng-href="#!/posts/{{post._id}}" class="list-group-item">
			<h5 class="list-group-item-heading" data-ng-bind="post.name"></h5>
            <small class="list-group-item-text">
				Posted on
				<span data-ng-bind="post.created | date:'medium'"></span>
				by
				<span data-ng-bind="post.user.firstName"></span> <span data-ng-bind="post.user.lastName"></span>
			</small>
        <!-- </span>
        </span> -->
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!posts.$resolved || posts.length">
    	No Posts yet, why don't you <a href="/#!/posts/create">create one</a>?
    </div>
</section>
  
        </div>
                    
      </div>
      <div class="col-sm-8">
          <div class="eventslist">
              <a href="#!/events"><u class="section-heading">Events List</u></a>
              <section data-ng-controller="EventsController" data-ng-init="find()">
            <div class="list-group">
                <a data-ng-repeat="event in events" data-ng-init="updatePastEvents(event)"></a>
				<a data-ng-repeat="event in upcomingEvents = (events | orderBy: 'date' | filter: {'hasHappened' : false})" data-ng-href="#!/events/{{event._id}}" class="list-group-item">
					<div id="info">
                        <span class="event-title" data-ng-bind="event.name"></span>
                        <span class="event-project" data-ng-bind="event.project.name"></span>
                    </div>
                    <small class="list-group-item-text">
						Starts at 
						<span data-ng-bind="event.time"></span>
						on
						<span data-ng-bind="event.date | date: 'shortDate'"></span>
						at
						<span data-ng-bind="event.location"></span>
					</small>
				</a>
            </div>
    <div class="alert alert-warning text-center" data-ng-hide="!events.$resolved || upcomingEvents.length">
    	No upcoming events, why don't you <a class="alert-warning" href="/#!/events/create">create one</a>?
    </div>
</section>
          </div>   
      </div>
    </div>
    <!-- second row for faq section -->
    <div class="row">
      <div class="newfaq col-xs-12">
          <a href="#!/"><u class="section-heading">Questions (FAQ)</u></a>
          <p>Question #1</p>

      </div>
    </div>
  </div>
