<div class="container-fluid" style="margin-top:10px" data-ng-controller="HomeController" data-ng-init="findUsers()">
  <!--First row: for newsfeed and eventslist -->
    <!-- Don't even try and load data without authentication -->
    <div class="row" data-ng-if="hasAuth" data-ng-init="findSkillsets()">
      <div class="col-sm-5">
        <div class="newsfeed">
            <a href="#!/posts"><u class="section-heading">News Feed</u></a>
            <section data-ng-controller="PostsController" data-ng-init="find()">
    <div class="list-group">
        <!-- <a data-ng-repeat="currUser in users | filter:  _id=authentication.user._id">
            CURRENT USER: <span data-ng-bind="currUser.firstName"></span>
        <span data-ng-repeat="userskill in skillsets | filter: _id=currUser.skills">
            CURRENT USER SKILLS:<span data-ng-bind="userskill.skill"></span> -->
        <a data-ng-repeat="post in posts | limitTo : 5 | filter: skill=userskill.skill" data-ng-href="#!/posts/{{post._id}}" class="list-group-item">
			<h5 class="list-group-item-heading" data-ng-bind="post.name"></h5>
            <small class="list-group-item-text">
				Posted on
				<span data-ng-bind="post.created | date:'medium'"></span>
				by
				<span data-ng-bind="post.user.firstName"></span> <span data-ng-bind="post.user.lastName"></span>
			</small>
        <!-- </span>
        </span> -->
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!posts.$resolved || posts.length">
    	No Posts yet, why don't you <a href="/#!/posts/create">create one</a>?
    </div>
</section>
  
        </div>
                    
      </div>
      
        <div data-ng-controller="EventRequestsController">
      <div class="newfaq col-xs-6" data-ng-init="find()">
          <a><u class="section-heading">Events</u></a>
          <span data-ng-repeat="allEventRequests in eventRequests" class="list-group">      
              
            <div ng-if="allEventRequests.user._id === authentication.user._id">
                
                <div id="Event Info" data-ng-init="findEvents()">
                    <span data-ng-repeat="thisEvent in events | orderBy: 'date' | filter: {'hasHappened' : false}" data-ng-init="updatePastEvents(thisEvent)">
                        <div class="list-group-item" ng-if="thisEvent._id === allEventRequests.event" style="margin-top:5px; margin-bottom:5px; padding:0px">
                            
                            <a class="list-group-item" data-ng-href="#!/events/{{allEventRequests.event}}">
                                                        
                                <div class="event-title" data-ng-bind="thisEvent.name"></div>
                                <span class="event-project" data-ng-bind="thisEvent.project.name"></span>
                            
                                
                            <small class="list-group-item-text" style="color:#888888;">
                                Starts at 
                                <span data-ng-bind="thisEvent.time"></span>
                                on
                                <span data-ng-bind="thisEvent.date | date: 'shortDate'"></span>
                                at
                                <span data-ng-bind="thisEvent.location"></span>
                                <span data-ng-bind="thisEvent.hasHappened"></span>
                                
                            </small>
                            </a>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- Checkmark: &#10004; X: &#10006; ?: ? -->
                            <span ng-if="allEventRequests.response == 'yes'" style="float:right; color:#66CD00; font-size:40px; margin-right:10px;"> &#10004; </span>
                            <span ng-if="allEventRequests.response == 'no'" style="float:right; color:#ff0000; font-size:40px; margin-right:10px;"> &#10006; </span>
                            <span ng-if="allEventRequests.response == ''" style="float:right; color:#f3ec19; font-size:40px; margin-right:10px;"> ? </span>
                            <div class="alert-warning btn" style="border-color: #ffffff; margin-top:10px; margin-bottom:-10px; margin-left:10px;" ng-click="editResponse(allEventRequests._id)">
                              <span> <b> Edit Your Response </b></span>
                            </div>
                          <!--                  
                            <div class="row">
                                <div class="col-md-2">
                                    <a class="btn btn-primary" style="background-image: linear-gradient(to bottom, #99CD00 0%, #66CD00 100%); background-color:#66CD00; border-color: #ffffff;" ng-click="findById(allEventRequests._id); submitResponse('yes');">
		                              <span> <b> &#10004; </b></span>
                                    </a>
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-primary" style="background-image: linear-gradient(to bottom, #dd0000 0%, #ff0000 100%); background-color:#ff0000; border-color: #ffffff" ng-click="submitResponse('no', allEventRequests._id); update();">
                                        <span> <b> &#10006; </b> </span>
                                    </a>
                                </div>
                            </div>
                               -->     
                                    
                                    
                            
                            <span data-ng-repeat="allEventRequest in attendees = (eventRequests| filter: {response: 'yes'} | filter: {event : thisEvent._id})"> </span>
                                <div style="color:#f3ec19; font-size:15px; text-align:center; padding-left:20px; margin-top:-20px">
                                    <div ng-if="attendees.length === 1">{{attendees.length}} user currently attending</div>
                                    <div ng-if="attendees.length != 1">{{attendees.length}} users currently attending</div>
                                </div>
                                </div>
                            </div>
                            
                            
                            
                        </div>  
                
                    </span>
              
                </div>
              
              </div>
              
          </span>
      </div>
        
    </div>
        <!--<div class="col-sm-7">
          <div class="eventslist">
              <a href="#!/events"><u class="section-heading">Events List</u></a>
              <section data-ng-controller="EventsController" data-ng-init="find()">
            <div class="list-group">
                <a data-ng-repeat="event in events" data-ng-init="updatePastEvents(event)"></a>
				<a data-ng-repeat="event in upcomingEvents = (events | orderBy: 'date' | filter: {'hasHappened' : false} | limitTo: 5)" data-ng-href="#!/events/{{event._id}}" class="list-group-item">
					<div id="info">
                        <span class="event-title" data-ng-bind="event.name"></span>
                        <span class="event-project" data-ng-bind="event.project.name"></span>
                    </div>
                    <small class="list-group-item-text">
						Starts at 
						<span data-ng-bind="event.time"></span>
						on
						<span data-ng-bind="event.date | date: 'shortDate'"></span>
						at
						<span data-ng-bind="event.location"></span>
					</small>
				</a>
            </div>
    <div class="alert alert-warning text-center" data-ng-hide="!events.$resolved || upcomingEvents.length">
    	No upcoming events, why don't you <a href="/#!/events/create">create one</a>?
    </div>
</section>
          </div>   
      </div> -->
    </div>
  </div>
