<section data-ng-controller="HomeController">

    <div class="home-container">
    <table id="home-table" class="home-table">
        <tr>
            <td width=35%>
                <div class="news-feed">
                    <a href="#!/posts"><u class="section-heading">News Feed</u></a>
                    <p>Post #1</p>    
                </div>
            </td>
            <td>
                <div class="events-list">
                    <a href="#!/events"><u class="section-heading">Events List</u></a>
                    <p>Event #1</p>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="faq">
                    <a href="#!/"><u class="section-heading">Questions (FAQ)</u></a>
                    <p>Question #1</p>

                </div>
            </td>
        </tr>
    </table>
    </div>
</section>
