<section class="row" data-ng-controller="AuthenticationController" data-ng-init="findUsers()">
	<h3 class="col-md-12 text-center">Welcome to the Tangible Scheduler.</h3>
	<!--
    <div class="col-md-12 text-center">
		<a href="/auth/google" class="undecorated-link">
			<img src="/modules/users/img/buttons/google.png">
		</a>
		<a href="/auth/facebook" class="undecorated-link">
			<img src="/modules/users/img/buttons/facebook.png">
		</a>
		<a href="/auth/twitter" class="undecorated-link">
			<img src="/modules/users/img/buttons/twitter.png">
		</a>
	</div>
    -->
    <div class="col-md-12 text-center">
        <img src="/modules/users/img/buttons/Tangible-Logo-Transparent.png" width="300">
    </div>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="text" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-primary">Sign in</button>
                    <span data-ng-repeat="user in users">
                        ng-hide="users">&nbsp; or&nbsp;
					<a href="/#!/signup">Sign up</a> </span>
				</div>
				<!--<div class "forgot-password">
					<a href="/#!/password/forgot">Forgot your password?</a>
				</div>-->
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	<!--<div class="text-center">
        Forgot your password? Email tangiblescheduler@gmail.com with your account information.
    </div>-->
    </div>

</section>
