
.menu-logo {
	height:100%;
	margin:5px;
}
.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}

.news-feed {
    border-style: solid;
    padding: 10px;
    margin-top: 10px;
    margin-right: 5px
}

.section-heading {
    font-size: 20px;
    color: #F3EC19;
}

.events-list {
    border-style: solid;
    padding: 10px;
    margin-top: 10px;
    margin-left: 5px;
}

.faq {
    border-style: solid;
    padding: 10px;
    margin-top: 10px;
}

.home-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.home-table {
    display: inline-table;
    width: 100%;
}

.event-date {
    color: #ffffff;
    font-size: 20px;
    text-align: right;
}

.top-right{
    color: #008080;
    font-size: 24px;
    text-align: right;
}

.top-right-project {
    position: absolute; 
    right: 0; 
    bottom: 0;
}

.yellow-header {
    position: absolute; 
    bottom: 0; 
    margin-bottom: -10px;
}

.event-project-name {
    color: #008080;
    margin-top: -15px;
    font-size: 18px;
    font-style: italic;
}

.event-title {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.1;
    color: #ffffff;
}

.event-project {
    font-size: 22px;
    float: right;
    font-weight: 500;
    line-height: 1.1;
    color: #F3EC19;
}

.project-on-event {
    font-size: 30px;
    float: right;
    font-weight: 500;
    color: #F3EC19;
    margin-top: -20px;
}

.event-section-header {
    font-size: 22px;
    color: #008080;   
}