<section data-ng-controller="SkillsetsController" data-ng-init="find()">
    <div class="page-header">
        <h2>Skillsets</h2>
    </div>
    <div class="list-group" data-ng-init="findUsers()">
        <a data-ng-repeat="skillset in skillsets | orderBy:'skill'" data-ng-href="#!/skillsets/{{skillset._id}}" class="list-group-item">
			
            <span data-ng-repeat="user in filtered = (users | filter: { skills: skillset._id } | orderBy: 'lastName')">
                <span ng-if=$last>
                    <span class="event-project">{{filtered.length}} users have this skill.</span>
                </span>
            </span>
            <h4 class="list-group-item-heading" data-ng-bind="skillset.skill" data-ng-init="findPosts()"></h4>
            
            <span data-ng-repeat="post in filteredPosts = (posts | filter: { skill : skillset.skill })">
                <span ng-if=$last>
                    <span>Posts: {{filteredPosts.length}}</span>
                </span>
            </span>
            
            <span data-ng-init="findEvents()" data-ng-controller="EventsController">
            <span data-ng-repeat="event in events" data-ng-init="updatePastEvents(event)"></span>
            </span>
            <span data-ng-repeat="event in filteredEvents = (events | filter: { skill : skillset.skill } | filter:  { hasHappened : false } )">
                <span ng-if=$last>
                    <span>Events: {{filteredEvents.length}}</span>
                </span>
            </span>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!skillsets.$resolved || skillsets.length">
    	No Skillsets yet, why don't you <a href="/#!/skillsets/create">create one</a>?
    </div>
</section>
