<section data-ng-controller="SkillsetsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="skillset.skill"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == skillset.user._id">
		<a class="btn btn-primary" href="/#!/skillsets/{{skillset._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
    
    <h4>Users with Skill:</h4>
    <div class="list-group" data-ng-init="findUsers()">
        <a data-ng-repeat="user in users | filter: { skills: skillset._id } | orderBy: 'lastName'" class="list-group-item">
            <h4 class="list-group-item-heading">
                <span data-ng-bind="user.lastName"></span>, <span data-ng-bind="user.firstName"></span>
            </h4>
            <span style="float:right; color:#f3ec19;" onclick=""> Edit User </span>
            <div>Phone Number: <span data-ng-bind="user.phone"></span></div>
            <div>Email: <span data-ng-bind="user.email"></span></div>
            
        </a> 
    
    <div class="alert alert-warning text-center" data-ng-hide="!users.$resolved || users.length">
    	No Users yet</a>
    </div>
        </div>
    
</section>
