<section data-ng-controller="RosterController" data-ng-init="find()">
    <div class="page-header">
        <h1>Roster</h1>
    </div>
    <div class="list-group">
        <!-- data-ng-href="#!/users/{{user._id}}" -->
        <a data-ng-repeat="user in users" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="user.id">a</h4>
        </a>
    </div>
    
    <!--
    <div class="alert alert-warning text-center" data-ng-hide="!users.$resolved || users.length">
    	No Users yet</a>
    </div> -->
</section>
