<section data-ng-controller="EventsController" data-ng-init="find()">
    <div class="row">
        <div class="col-md-8">
			<div class="page-header">
				<h2>Events</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="list-group">
				<a data-ng-repeat="event in events | orderBy:'date'" data-ng-href="#!/events/{{event._id}}" class="list-group-item">
					<div id="info">
                        <span class="event-title" data-ng-bind="event.name"></span>
                        <span class="event-project" data-ng-bind="event.project.name"></span>
                    </div>
                    <small class="list-group-item-text">
						Starts at 
						<span data-ng-bind="event.time"></span>
						on
						<span data-ng-bind="event.date | date: 'shortDate'"></span>
						at
						<span data-ng-bind="event.location"></span>
					</small>
				</a>
			</div>
			<div class="alert alert-warning text-center" data-ng-hide="!events.$resolved || events.length">
				No Events yet, why don't you <a class="alert-warning" href="/#!/events/create">create one</a>?
			</div>
		</div>
	</div>
</section>
