<section data-ng-controller="EventsController" data-ng-init="findOne()">
	<div class="row page-header">
		<div class="col-sm-6">
			<h3 data-ng-bind="event.name"></h3>
		</div>
		<div class="col-sm-2"></div>
		<div class="col-sm-4 event-date">
			<span data-ng-bind="event.time"> </span> 
			<b>&middot;</b> 
			<span data-ng-bind="event.date | date:'longDate'"> </span>  
			<div class="top-right" data-ng-bind="event.location"></div>
		</div>
	</div>
    
    <div class="row">
		<div class="col-md-12">
			<a class="project-on-event" href="/#!/projects/{{event.project._id}}" data-ng-bind="event.project.name"></a>
		</div>
	</div>
    
	<div class="row">
		<div class="col-md-8">
			<p class="" data-ng-bind="event.description"></p>
		</div>
	</div>
    
    <div class="row">
		<div class="col-md-5">
			<span class="event-section-header">Requested Event Participants:</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<accordion close-others="false">
				<accordion-group  is-open="isopen"
					  ng-repeat="skillRequest in event.skillsNeeded">
					  <accordion-heading>
						  {{skillRequest.skill.skill}}                      
						  <i class="pull-right glyphicon"
								ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
					  </accordion-heading>

					  <div class="row" >
							<div class="col-md-12">
								<p>Number of Requested: {{skillRequest.numRequested}}</p>
								<p>Required Users:</p>    
								
                                
                                <span data-ng-repeat="user in skillRequest.requiredUsers | orderBy:'lastName'" class="list-group-item">
                                <!-- Checkmark: &#10004; X: &#10006; ?: ? -->
                                <a style="float:right; color:#f3ec19; font-size:40px"> ? </a>
                                <h4 class="list-group-item-heading">
                                    <span data-ng-bind="user.lastName"></span>, <span data-ng-bind="user.firstName"></span>
                                </h4>
                                <div>Phone Number: <span data-ng-bind="user.phone"></span></div>
                                <div>Email: <span data-ng-bind="user.email"></span></div>
                            </span> 

                                
							</div>
					</div>
				  </accordion-group>
			  </accordion>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<small>
				<em class="text-muted">
					Posted on
					<span data-ng-bind="event.created | date:'mediumDate'"></span>
					by
					<span data-ng-bind="event.user.firstName"></span> <span data-ng-bind="event.user.lastName"></span>
				</em>
			</small>
		</div>
		<div class="col-md-6"></div>
		<div class="col-md-2">
			<div data-ng-show="authentication.user._id == event.user._id">
				<a class="btn btn-primary" href="/#!/events/{{event._id}}/edit">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
				<a class="btn btn-primary" data-ng-click="remove();">
					<i class="glyphicon glyphicon-trash"></i>
				</a>
			</div>
		</div>
</section>
