<section data-ng-controller="EventsController" data-ng-init="findOne()">
	<div class="page-header">
		<div class="col-sm-8 yellow-header" style="position: relative; top: 0px">
			<h3 data-ng-bind="event.name"></h3>
        </div>
        
        <div class="event-date"><span data-ng-bind="event.time"> <b>&middot;</b>
			<span data-ng-bind="event.date | date:'longDate'"> </span>  
		</div>
        <div class="top-right" data-ng-bind="event.location"></div>
	</div>
    <p class="event-project-name" data-ng-bind="event.projectName"></p>
    
    <!-- Accept/Reject Buttons -->
    <div class="form-group" align="center">
        <input type="button" class="btn btn-default" value="Accept" style="margin-right: 30px">
        <input type="button" class="btn btn-reject" value="Reject">
    </div>
        
    <!-- Errors for Accept/Reject Buttons -->
    <div data-ng-show="error" class="text-danger">
        <strong data-ng-bind="error"></strong>
	</div>
    
    <p class="" data-ng-bind="event.description"></p>
    
   	Project: <p class="" data-ng-bind="event.project"></p>
    
    
	<div class="pull-right" data-ng-show="authentication.user._id == event.user._id">
		<a class="btn btn-primary" href="/#!/events/{{event._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
    
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="event.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="event.user.firstName"></span> <span data-ng-bind="event.user.lastName"></span>
		</em>
	</small>
</section>
