<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
	<div class="row page-header">
		<div class="col-sm-6">
			<h3 data-ng-bind="project.name"></h3>
		</div>
		<div class="col-sm-3"></div>
		<div class="col-sm-3">
        	<div class="text-center" style="height:60px;"><br><br>Type: <span class="top-right" data-ng-bind="project.type"></span></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<p class="" data-ng-bind="project.description"></p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<small>
				<em class="text-muted">
					Launched on
					<span data-ng-bind="project.created | date:'longDate'"></span>
		            by
		            <span data-ng-bind="project.user.firstName"></span> <span data-ng-bind="project.user.lastName"></span>
				</em>
			</small>
		</div>
		<div class="col-md-6"></div>
		<div class="col-md-2">
			<div data-ng-show="authentication.user._id == project.user._id">
				<a class="btn btn-primary" href="/#!/projects/{{project._id}}/edit">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
				<a class="btn btn-primary" data-ng-click="remove();">
					<i class="glyphicon glyphicon-trash"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
		<h4>Events: </h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 list-group">
			<a href="/#!/events/{{event._id}}" class="list-group-item" data-ng-repeat="event in project.events">{{event.name}}</a>
		</div>
	</div>

</section>
