<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="project.name"></h1>
	</div>
   <p class="" data-ng-bind="project.description"></p>
	<div class="pull-right" data-ng-show="authentication.user._id == project.user._id">
		<a class="btn btn-primary" href="/#!/projects/{{project._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
    
	<small>
		<em class="text-muted">
			Launched on
			<span data-ng-bind="project.created | date:'longDate'"></span>
		</em>
	</small>
</section>
